body {
    font-family: Lato, sans-serif;
}

/* Light mode classes */

body.light {
    background-color: #fff;
    color: #000;
}

body.light #citation,
body.light #header {
    background-color: rgba(226, 226, 226, 0.8);
}

body.light .header-title {
    color: rgb(70, 70, 70);
}

body.light .header-link {
    color: rgb(107, 107, 107);
}

body.light .link-icon {
    color: #444;
}

body.light #color-light {
    display: none;
    visibility: hidden;
}

/* Dark mode classes */

body.dark {
    background-color: #363636;
    color: #dfdfdf;
}

body.dark #citation,
body.dark #header {
    background-color: rgba(40, 40, 40, 0.8);
}

body.dark .header-title {
    color: rgb(255, 255, 255);
}

body.dark .header-link {
    color: rgb(181, 181, 181);
}

body.dark .link-icon {
    color: #cecece;
}

body.dark #color-dark {
    display: none;
    visibility: hidden;
}

/* Normal CSS */

.container {
    max-width: 800px;
    margin: 80px auto 0 auto;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-weight: 300;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 300;
}

.abstract-text {
    font-size: 16px;
    line-height: 1.9;
    margin-bottom: 20px;
    text-align: justify;
    font-family: Roboto, sans-serif;
}

.demo-text {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: 25px 0;
}

.demo-icon {
    margin: 0 4px;
}

.p-strong {
    font-weight: 700;
}

.authors {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;
}

.author {
    margin: 10px;
    /* width: 190px; */
}

.author-name {
    white-space: nowrap;
    letter-spacing: 1px;
}

.affiliation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
}

.author-name>a,
.template-creator {
    text-decoration: none;
    color: #6363e6;
    transition: all 120ms linear;
    border-bottom: 1px solid transparent;
}

.author-name>a:hover,
.template-creator:hover {
    border-bottom-color: #6363e6;
}

.section-title {
    margin: 20px;
    letter-spacing: 2px;
}

.section {
    padding: 15px 0;
    border-top: 1px solid rgb(199, 199, 199);
}

#header {
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 99;
}

.header-title {
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 4px;
    padding-left: 20px;
    user-select: none;
    text-decoration: none;
}

.header-links {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header-link {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    margin: 0 10px;
    text-decoration: none;
    cursor: pointer;
    transition: all 100ms linear;
    user-select: none;
    white-space: nowrap;
}

#citation {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    padding: 20px;
    white-space: pre-wrap;
    border-radius: 1px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.link {
    margin: 0 20px;
    width: 80px;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
}

.link-icon {
    font-size: 32px;
}

.link-text {
    letter-spacing: 2px;
    text-decoration: none;
}

.link>a,
.template-creator {
    text-decoration: none;
    color: #6363e6;
    transition: all 120ms linear;
    border-bottom: 1px solid transparent;
}

.link>a:hover,
.template-creator:hover {
    text-decoration: underline;
}

#color-mode-wrap {
    padding-right: 30px;
    user-select: none;
}

.color-mode {
    width: 60px;
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #000;
    font-size: 14px;
    cursor: pointer;
}

.color-mode>span {
    margin-left: 3px;
    text-align: center;
    display: inline-block;
    width: 40px;
}

#color-light {
    color: #fff;
    border-color: #fff;
}

#color-dark {
    color: #000;
    border-color: #000;
}

#footer {
    margin-top: 20px;
}

.footer-text {
    padding: 25px;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
}

.template-creator {
    font-weight: 400;
}

.audio-wrap {
    display: none;
}

.demo-wrap {
    position: relative;
}

#demo-label {
    position: absolute;
    bottom: 10px;
    left: 132px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

.img-container {
    display: inline-block;
    position: relative;
    text-align: center;
    color: white;
}

.img-container-right {
    display: inline-block;
    position: relative;
    right: 9%;
    text-align: center;
    color: white;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 48px;
    font-weight: 500;
}

.video {
    max-width: 100%;
}

.gif {
    max-width: 100%;
}

.demo-img-obj-wrap {
    display: inline-block;
    margin: 0;
    width: 20%;
    padding: 0 1px;
    box-sizing: border-box;
    position: relative;
    vertical-align: top;
    cursor: pointer;
}

.demo-img-obj {
    display: block;
    width: 100%;
}

.demo-obj-wrap {
    font-size: 0;
    margin-bottom: 12px;
    position: relative;
    width: 100%;
}

.demo-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
    user-select: none;
}

.demo-img-overlay.selected {
    opacity: 1;
}

.demo-img-obj-wrap:hover .demo-img-overlay {
    opacity: 1;
}

.demo-selected-obj-wrap {
    margin: 0 auto;
}

.demo-selected-row {
    display: flex;
    gap: 1px;
    margin-bottom: 2px;
}

.demo-selected-obj-wrap>div {
    overflow: hidden;
}

.demo-img-wrap {
    position: relative;
    width: 50%;
    overflow: hidden;
}

.demo-img-wrap::before {
    content: "";
    display: block;
    padding-top: 75%;
}

.demo-img-wrap>img,
.demo-img-wrap>video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.demo-img-wrap>img {
    object-fit: cover;
}

.demo-img-wrap>video {
    object-fit: cover;
}

.demo-text-overlay {
    position: absolute;
    top: 0px;
    font-size: 14px;
    padding: 4px 6px;
    width: 40px;
    border-radius: 0px 0px 0px 2px;
    color: rgb(234, 234, 234);
    right: 0;
}

.demo-rgb-text {
    background-color: rgb(62, 62, 200);
}

.demo-rgb-inline-text {
    color: rgb(62, 62, 200);
}

.demo-touch-text {
    background-color: rgb(40, 151, 40);
}

.demo-touch-inline-text {
    color: rgb(40, 151, 40);
}

.demo-audio-text {
    background-color: rgb(186, 53, 53);
}

.demo-audio-inline-text {
    color: rgb(186, 53, 53);
}

.demo-depth-text {
    background-color: rgb(200, 146, 64);
}

.demo-depth-inline-text {
    color: rgb(200, 146, 64);
}

.bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 4px;
    transition: left 0.3s ease;
}

.bar-short {
    width: calc(100% / 6);
    background-color: #e66363;
}

.bar-long {
    width: 20%;
    background-color: #6363e6;
}

#demo-selected-rgb-images>img {
    cursor: pointer;
}

.demo-img-obj-wrap:nth-child(1):hover~.bar {
    left: 0% !important;
}

.demo-img-obj-wrap:nth-child(2):hover~.bar {
    left: 20% !important;
}

.demo-img-obj-wrap:nth-child(3):hover~.bar {
    left: 40% !important;
}

.demo-img-obj-wrap:nth-child(4):hover~.bar {
    left: 60% !important;
}

.demo-img-obj-wrap:nth-child(5):hover~.bar {
    left: 80% !important;
}

#demo-selected-rgb-images>img:nth-child(1):hover~.bar {
    left: 0% !important;
}

#demo-selected-rgb-images>img:nth-child(2):hover~.bar {
    left: calc(100% / 6) !important;
}

#demo-selected-rgb-images>img:nth-child(3):hover~.bar {
    left: calc(100% / 6 * 2) !important;
}

#demo-selected-rgb-images>img:nth-child(4):hover~.bar {
    left: calc(100% / 6 * 3) !important;
}

#demo-selected-rgb-images>img:nth-child(5):hover~.bar {
    left: calc(100% / 6 * 4) !important;
}

#demo-selected-rgb-images>img:nth-child(6):hover~.bar {
    left: calc(100% / 6 * 5) !important;
}

.demo-img-set-0 {
    display: block;
}

.demo-img-set-1,
.demo-img-set-2,
.demo-img-set-3,
.demo-img-set-4,
.demo-img-set-5 {
    display: none;
}

#demo-selected-rgb-images {
    display: inline-block;
    font-size: 0;
    position: relative;
}

#demo-selected-rgb-images>img {
    max-width: calc(100% / 6);
    display: inline-block;
    box-sizing: border-box;
    padding-right: 1px;
    vertical-align: top;
}

#demo-selected-rgb-images>img:last-child {
    padding-right: 0;
}

.demo-img-wrap:hover > .target-rectangle, .demo-img-wrap:hover > .target-label {
    opacity: 0;
}

.target-rectangle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 25px;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    box-sizing: border-box;
    opacity: 1;
    transition: opacity 0.3s;
  }

  .center-dot {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  
  .target-label {
    position: absolute;
    left: 50%;
    top: calc(50% - 50px);
    transform: translateX(-50%);
    background: rgb(238, 238, 238);
    color: rgb(23, 23, 23);
    padding: 2px 6px;
    font-size: 14px;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 1;
    transition: opacity 0.3s;
  }

@media screen and (max-width: 800px) {
    .header-links {
        display: none;
    }

    #color-mode-wrap {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .color-mode {
        align-self: flex-end;
    }
}